@import url('https://fonts.googleapis.com/css?family=Roboto');
.czat.niebieski {
  font-family: 'Roboto', sans-serif;
}
.czat.niebieski #okno .belka {
  background-color: #286eb5;
}
.czat.niebieski #okno .belka h1 {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 10px;
}
.czat.niebieski #okno .messages .czat-data {
  display: none;
}
.czat.niebieski #okno .messages .czat-name {
  font-size: 0;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #286eb5 url("../img/czapka.png") no-repeat center bottom / 50% auto;
}
.czat.niebieski #okno .messages .czat-content {
  margin: 30px;
  border-radius: 30px;
}
.czat.niebieski #okno .messages .czat-content:nth-child(odd) {
  background-color: #ebebeb;
  color: #286eb5;
}
.czat.niebieski #okno .messages .czat-content:nth-child(even) {
  background-color: #286eb5;
  color: #ebebeb;
}
