<!DOCTYPE html>
<html>
    <head>
        <title>Chat grupy B</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.6.9/angular-sanitize.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <style>
            .modal {
                display: block;
            }
        </style>
    </head>
    <body ng-app="myApp" ng-controller="myCtrl">
        
        <div class="container">
            <div class="row">
                <div class="col-md-12 messages" id="okno">
                    <div ng-class="i % 2 ==0? 'message message-green':'message message-red'" ng-repeat="(i,mess) in message">
                        <div class="message-name">{{mess.name}}</div>
                        <div class="message-content" ng-bind-html="mess.content"></div>
                        <div class="message-data">{{mess.created_at}}</div>
                    </div>
                    
                    <div class="margines"></div>
                </div>
            </div>
            
            
            
            <div class="modal" ng-show="sendname=='' || !sendname" tabindex="-1" role="dialog">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                      <label for="#name">Podaj swoje imie</label>
                    <input ng-model="$myStorage.name" id="name" class="form-control" />
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="sendname=$myStorage.name">OK</button>
                  </div>
                </div>
              </div>
            </div>            
            
            
            
        </div>
        
            <nav class="navbar navbar-fixed-bottom ">
                <div class="container" >
<!--                    <div class="row">
                        <div class="col-md-12" contenteditable="true" ng-model="content" style="min-height:10px;"></div>
                    </div>-->
                    <form class="form-inline my-2 my-lg-0">
                         <input class="form-control mr-sm-2"  placeholder="Wiadomosc" aria-label="Wiadomosc" ng-model="content">
                         <button class="btn btn-outline-success my-2 my-sm-0" ng-click="wyslij()" type="submit">Wyslij</button>
                         <button class="btn " ng-click="sendname=''" >Nowy NICK</button>
                    </form>
                </div>
            </nav>
        
        
        
        <script>
        var app = angular.module('myApp', ['ngSanitize']);
        app.controller('myCtrl', function($scope, $http, $interval) {
        $scope.lastid = 0;
        $scope.message = [];
        $scope.name="";
        $scope.$myStorage = window.localStorage;
        $scope.czytam = false;
        
        
        $scope.sendname=$scope.$myStorage.name;

        $scope.wyslij = () => {
            
            console.log($scope.sendname);
            if($scope.content != '' && $scope.sendname != "")
            {
               var img =  /(http)(s)?(:\/\/)(.*)(.jpg|.jpeg|.gif|.png)/;
               var url =  /(http)(s)?(:\/\/)(.*)/;
               var youtube = /(?:.+?)?(?:\/v\/|watch\/|\?v=|\&v=|youtu\.be\/|\/v=|^youtu\.be\/)([a-zA-Z0-9_-]{11})+/;
               if(img.test($scope.content))
               {
                   $scope.content = '<img class="img img-responsive" src="'+$scope.content+'" alt="">';
               } else 
               if(youtube.test($scope.content))
               {
                   $scope.content = '<embed src="'+ $scope.content + '?version=3&amp;hl=en_US&amp;rel=0&amp;autohide=1&amp;autoplay=1" wmode="transparent" type="application/x-shockwave-flash" width="100%" height="100%" allowfullscreen="true" title="Adobe Flash Player">';
                   console.log($scope.content)
                
                }
           
               else if(url.test($scope.content))
               {
                   $scope.content = '<a href="'+$scope.content+'">'+$scope.content+'</a>';
               }
                
                $http.get('http://wsi.ovh/czat?lastid='+($scope.lastid)+'&name='
                        +$scope.sendname+'&content='+$scope.content )
                        .then((e)=>{},(e)=>{});
                $scope.content='';
               $scope.czytam = false;
            }
            
        }


        $scope.czytajDane = () => {
            
            
            if(!$scope.czytam)
            {
            $scope.czytam = true;
            $http.get('http://wsi.ovh/czat?lastid='+ $scope.lastid).then((e)=>{
                // odczyt ok, dane sa w e.data
                
                var addMess = false;
                angular.forEach(e.data, (item, key) => {
                    $scope.message.push(item);
                    if($scope.lastid <= item.id)
                    {
                            $scope.lastid = item.id+1;
                            addMess = true;
                        }
                });
               $scope.czytam = false;
                
               if(addMess) 
                        setTimeout( () =>{
                             var okno = document.getElementById("okno");
                                         okno.scrollTop = okno.scrollHeight;
                         }, 200 );
            },(e)=>{
               $scope.czytam = false;
                // jezeli jest blad        
            });
        }
            
        }

        $interval($scope.czytajDane, 1000);
        
        $scope.czytajDane();
        });
        </script>
        
    </body>
</html>
