
.czat_wariant(@tlo1; @tlo2; @online)
{
    
    #okno {
        
        .messages{
            
            .czat-data {display: none;}
            
            .czat-name {
                font-size: 0;
                display: inline-block;
                width:30px;
                height: 30px;
                background: transparent url("../img/ikonazdjecie.png") no-repeat center center / 100% auto;
            }
            
            .czat-content { 
            margin:30px;
            border-radius:30px; 
                
             
                    &:nth-child(odd) {
                        background-color: @tlo1;
                        color: @tlo2;
                    }
                    &:nth-child(even) {
                        background-color: @tlo2;
                        color: @tlo1;
                    }
            
            }
        }
        
    }
    
}



.czat {
    
    &.niebieski {
        .czat_wariant(#ebebeb, #286eb5, #2ea051);
    }
    
    
}